//Fontes
$fontePrincipal: Roboto, sans-serif;

//Esquema de cores
$corDeFundo: #f5f6fa;
$corProdutos: #44bd32;
$corLetras: #fff;
$corFundoHeader: #182C61;

//Breakpoints
$mobile: 767px;
$tablet: 1023px;