//Esquema de Cores
$corDeFundoPrincial: #f5f6fa;
$corDeFundoHeader: #182C61;
$corTexto: #fff;
$corBotao: #44bd32;
$corBtnHover: #4cd137;

//Breakpoints
$mobile: 767px;
$tabletMin: 768px;
$tabletMax: 1023px;