@use 'config/reset';
@use 'config/variaveis';

@mixin maxWidth() {
    max-width: 80%;
}

@mixin width100() {
    width: 100%;
}

@mixin displayFlex() {
    display: Flex;
}

@mixin decorationNone() {
    text-decoration: None;
}

@mixin displayBlock() {
    display: block;
}

body {
    background-color: variaveis.$corDeFundoPrincial;
}

li {
    list-style: none;
}

.container {
    max-width: 1024px;
    @include width100();
    margin: 0 auto;
}

header {
    background-color: variaveis.$corDeFundoHeader;
    position: sticky;
    top: 0;
    left: 0;

    .container {
        @include displayFlex();
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;

        .menu {
            @include displayFlex();

            li {
                font-weight: bold;
                margin-left: 24px;

                a {
                    color: variaveis.$corTexto;
                    @include decorationNone();
                }
            }
        }
    }
}

section {
    padding: 56px 0;

    .products {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(3, 32.66%);
        column-gap: 1%;
        row-gap: 4%;
        @include width100();

        .product-item img {
            @include width100();
            border-radius: 16px;
        }
        
        .product-button {
            @include displayBlock();
            background-color: variaveis.$corBotao;
            color: variaveis.$corTexto;
            text-align: center;
            padding: 8px 0;
            border-radius: 8px;
            margin-top: 8px;
            @include decorationNone();
        }
        
        .product-button:hover {
            background-color: variaveis.$corBtnHover;
        }
    }
}

@media screen and (max-width: variaveis.$mobile) {
    .container {
        @include maxWidth();

        .products {
            @include displayBlock();
        }

        .product-item  {
            margin-bottom: 32px;
        }
    }
}

@media screen and (min-width: variaveis.$tabletMin) and (max-width: variaveis.$tabletMax) {
    .container {
        @include maxWidth();

        .products {
            grid-template-columns: repeat(2, 48.5%);
            column-gap: 3%;
        }
    }
}